<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <img class="navbar-brand" src="../img/max.png">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Project</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="writing">Writing</a></li>
        <li class="active"><a ui-sref="development">Development</a></li>
        <li><a ui-sref="contact">Contact</a></li>
        <li><a href="../img/resume.pdf" target="_blank">Resume</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container developmentContent">
  <div class="row row-centered">

    <div class="col-lg-12 col-centered developmentColumn"><div class="item"><div class="content">
      <div class="introduction">
        <h1>Crush Routes</h1>

        <p>
          Crush routes is the wikipedia for climbing routes! Find your next big project, either being rock, boulder or ice.
          Climbers from all over the world can share their inspiring climbing routes with the community.
        </p>

        <div class="gitHub">
          <a class="devicons devicons-javascript"href="http://crushroutes.com">CrushRoutes.com</a> <br>
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/crushingRoutes">CrushRoutes API</a><br>
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/crushRoutesWeb">CrushRoutes Web</a><br>
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/crushRoutesMobile">CrushRoutes Mobile</a><br>
        </div>
      </div>

      <img class="crushRoutes" src="../img/crush_routes.png"/>

      <p class="tech">
        <span class="devicons devicons-html5">HTML</span>
        <span class="devicons devicons-sass">Sass</span>
        <span class="devicons devicons-javascript">JavaScript</span>
        <span class="devicons devicons-angular">Angular</span>
        <span class="devicons devicons-npm">npm</span>
        <span class="devicons devicons-nodejs_small">NodeJS</span>
        <span class="devicons devicons-atom">Knex</span>
        <span class="devicons devicons-postgresql">PostgreSQL</span>
        <span class="devicons devicons-heroku">Heroku</span>
        <span class="devicons devicons-bower">Bower</span>
        <span class="devicons devicons-gulp">Gulp</span>
      </p>
    </div></div></div>
</div>
</div>

<div id="dropZioContainer" class="container developmentContent">
  <div class="row row-centered">
    <div class="col-lg-12 col-centered developmentColumn"><div class="item"><div class="content">
      <div class="introduction">
        <h1>Redux React Weather App</h1>
        <p>
          Get a five-day forecast for any city in the united states.
          Built with react, redux, google maps api, and open weather api.
        </p>
        <div class="gitHub">
          <a class="devicons devicons-javascript"href="http://reduxreactapp.s3-website-us-west-2.amazonaws.com/">Weather Website</a> <br>
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/reduxWeatherApp">Weather Github</a>
        </div>
      </div>

      <div class="imageHolder">
        <img src="../img/weather.png" />
      </div>

      <p class="tech">
        <span class="devicons devicons-html5">HTML</span>
        <span class="devicons devicons-sass">Sass</span>
        <span class="devicons devicons-javascript">JavaScript</span>
        <span class="devicons devicons-npm">npm</span>
        <span class="devicons devicons-atom">AWS</span>
        <span class="devicons devicons-atom">Redux</span>
        <span class="devicons devicons-atom">React</span>

      </p>
    </div></div></div>
  </div>
</div>
<div id="dropZioContainer" class="container developmentContent">
  <div class="row row-centered">
    <div class="col-lg-12 col-centered developmentColumn"><div class="item"><div class="content">
      <div class="introduction">
        <h1>Dropzio</h1>
        <p>
          Dropzio is a geolocation app for android and iOS mobile devices.
          Dopzio hasn’t found it’s exact voice yet,  but the idea is allowing our users to create organic content for other users.
          Users create drops with images and content from their exact location
          The posts then become visible to other users within a 60ft vicinity. Users view single posts and vote on them.
          Users may also use the compass feature to discover posts outside of their discovery vicinity.
          Some potential applications: College Orientation, Tourist tours of cities, Pub Crawls, Scavenger hunts, Business advertising/marketing or just for fun.
          Keep posted this app will be available on the apple and google play store.
        </p>
        <div class="gitHub">
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/dropzioApp2">Dropzio App</a> <br>
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/dropzio_server">Dropzio Server</a>
        </div>
      </div>

      <div class="imageHolder">
        <img class="dropzioImg" src="../img/dropzio1.PNG" />
        <img class="dropzioImg" src="../img/dropzio2.PNG" />
        <img class="dropzioImg" src="../img/dropzio3.PNG" />
        <img class="dropzioImg" src="../img/dropzio4.PNG" />
      </div>

      <p class="tech">
        <span class="devicons devicons-html5">HTML</span>
        <span class="devicons devicons-sass">Sass</span>
        <span class="devicons devicons-javascript">JavaScript</span>
        <span class="devicons devicons-angular">Angular</span>
        <span class="devicons devicons-atom">Ionic</span>
        <span class="devicons devicons-atom">Cordova</span>
        <span class="devicons devicons-npm">npm</span>
        <span class="devicons devicons-postgresql">PostgreSQL</span>
        <span class="devicons devicons-heroku">Heroku</span>
        <span class="devicons devicons-firebase">Firebase</span>
        <span class="devicons devicons devicons-ruby">Ruby</span>
        <span class="devicons devicons-ruby_on_rails">Rails</span>
        <span class="devicons devicons-bower">Bower</span>
        <span class="devicons devicons-gulp">Gulp</span>
      </p>
    </div></div></div>
  </div>
</div>

<div id="yodelContainer"class="container developmentContent">
  <div class="row row-centered">
    <div class="col-lg-12 col-centered developmentColumn"><div class="item"><div class="content">
      <div class="introduction">
        <h1>Yodel</h1>
        <p>
          Yodel is a social geolocation app for android and iOS mobile devices.
          It was designed with the propose of promoting social interactions between
          people whom have similar interests. The app allows users to see others
          within a custom range and send those users messages.
        </p>
        <div class="gitHub">
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/YodelApp">Yodel App</a><br>
          <a class="devicons devicons-github_badge"href="https://github.com/MSturges/yodel">Yodel Server</a>
        </div>
      </div>
      <div class="imageHolder">

        <img class="dropzioImg" src="../img/yodel1.PNG"/>
        <img class="dropzioImg" src="../img/yodel2.PNG"/>
        <img class="dropzioImg" src="../img/yodel3.PNG"/>
        <img class="dropzioImg" src="../img/yodel4.PNG"/>
      </div>

      <p class="tech">
        <span class="devicons devicons-html5">HTML</span>
        <span class="devicons devicons-css3">CSS</span>
        <span class="devicons devicons-sass">SASS</span>
        <span class="devicons devicons-javascript">JavaScript</span>
        <span class="devicons devicons-angular">Angular</span>
        <span class="devicons devicons-atom">Ionic</span>
        <span class="devicons devicons-atom">Cordova</span>
        <span class="devicons devicons-nodejs_small">NodeJS</span>
        <span class="devicons devicons-atom">Knex</span>
        <span class="devicons devicons-postgresql">PostgreSQL</span>
        <span class="devicons devicons-heroku">Heroku</span>
        <span class="devicons devicons-bower">Bower</span>
        <span class="devicons devicons-gulp">Gulp</span>
      </p>
    </div></div></div>
  </div>
</div>

<div id="maxSturgesContainer"class="container developmentContent">
  <div class="row row-centered">
    <div class="col-lg-12 col-centered developmentColumn"><div class="item"><div class="content">
      <div class="introduction">
        <h1>MaxSturges</h1>
        <div class="row">
          <div class="col-lg-6">
            <p>
              Welcome, This is my portfolio website which was built to showcase my projects and resume.
              It will be updated frequently as I polish off projects and complete news ones.
            </p>
            <div class="gitHub">
              <a class="devicons devicons-github_badge"href="https://github.com/MSturges/maxSturges">Portfolio</a>
            </div>
          </div>
          <div class="col-lg-6">
            <img class="portfolioSite" src="../img/personalsite.png" />
          </div>
        </div>
      </div>

      <p class="tech">
        <span class="devicons devicons-html5">HTML</span>
        <span class="devicons devicons-css3">CSS</span>
        <span class="devicons devicons-git">Git</span>
        <span class="devicons devicons-sass">SASS</span>
        <span class="devicons devicons-bootstrap">Bootstrap</span>
        <span class="devicons devicons-jquery">jQuery</span>
        <span class="devicons devicons-javascript">JavaScript</span>
        <span class="devicons devicons-angular">Angular</span>
        <span class="devicons devicons-nodejs_small">NodeJS</span>
        <span class="devicons devicons-heroku">Heroku</span>
        <span class="devicons devicons-bower">Bower</span>
        <span class="devicons devicons-gulp">Gulp</span>
      </div>
    </div>
  </div>


</div>
</div>
